*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  color: #33475B;
  font-family: 'Montserrat', sans-serif;
}

/* ALTEZZE DA RIMUOVERE */

#site_main{
  height: 1500px;
  background-color: red;
}

#site_footer{
  height: 500px;
  background-color: green;
}
/* /ALTEZZE DA RIMUOVERE */

/* Classe Utility */
.float_left{
  float: left;
}

.container{
  width: 70%;
  margin: auto;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

.btn_log{
  border: 1px solid #fe785a;
  #FC937C;
  border-radius: 5px;
  color: #fe785a;
  #FC937C;
  padding: 10px;
  margin:0 10px;
}

.btn_log:hover{
  color:#FC937C;
  border: 1px solid #FC937C;
}

.btn-sm{
  color: white;
  background-color: #fe785a;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
}

.btn-sm:hover{
  background-color: #FC937C;
}

/* ATTENZIONE BTN DANDO L'INLINE-BLOCK SI AUTODELIMITA */
.btn{
  display: inline-block;
  color: white;
  background-color: #fe785a;
  border-radius: 5px;
  padding: 20px 40px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.mr20 {
  margin-right: 20px;
}
/* /Classe Utility */

/* Site Header */

/* Nav_top */
.nav_top{
  min-width: 1200px;
  height: 80px;
  line-height: 80px;
  width: 100%;
  background-color: #F4F9FD;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
}

.nav_top_left{
  width: 30%;
}

.nav_top_left a{
  text-decoration: none;
  color: #32495b;
}

.nav_top_left i{
  color: #32495b;
}

#contact{
  border-left: 2px solid #8A9397;
  padding-left: 20px;
}

.nav_top_right{
  width: 70%;
  text-align: right;
}

 .nav_top_right a{
   text-decoration: none;
 }

 #search{
   color: #00A4BD;
 }
/* /Nav_top */

/* Nav_bottom */

  .nav_bottom{
   margin-top: 80px;
   height: 80px;
   line-height: 80px;
   width: 100%;

   min-width: 1200px;
 }

/* nav_bottom_left */
 .nav_bottom_left{
   width: 15%;
 }

 .logo{
   vertical-align: middle;
 }
/* /nav_bottom_left */

/* nav_bottom_right */
 .nav_bottom_right{
   width: 85%;
   text-align:right;
 }

 .nav_bottom_right a{
   text-decoration: none;
   color: #32495b;
 }
/* /nav_bottom_right */

/* /Nav_Bottom */

/* /jumbotron */

.jumbotron{
  width: 100%;
  height: 695px;
  background-image: url("../img/jumbotron.png");
  background-color: #FFF4EF;
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
}

.container_jumbotron{
  width: 70%;
  height: 100%;
  margin: auto;
}

.container_title{
  width: 50%;
  padding-top: 60px;
}

.container_title h1{
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 30px;
}

.container_title p{
  line-height: 29px;
  margin-bottom: 30px;
}

.container_title .p_small{
  font-size: 80%;
}

.strip_bottom{
  background-color: #AFEBE4;
  width: 100%;
  height: 83px;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
  position: absolute;
  bottom: 0;
  left: 0;
}
