*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  color: #33475B;
  font-family: 'Montserrat', sans-serif;
  min-width: 1500px;
}

/* Classe Utility */
.float_left{
  float: left;
}

.container{
  width: 70%;
  margin: auto;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

.btn_log{
  border: 1px solid #fe785a;
  #FC937C;
  border-radius: 5px;
  color: #fe785a;
  #FC937C;
  padding: 10px;
  margin:0 10px;
}

.btn_log:hover{
  color:#FC937C;
  border: 1px solid #FC937C;
}

.btn-sm{
  color: white;
  background-color: #fe785a;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
}

.btn-sm:hover{
  background-color: #FC937C;
}

/* ATTENZIONE BTN DANDO L'INLINE-BLOCK SI AUTODELIMITA */
.btn{
  display: inline-block;
  color: white;
  background-color: #fe785a;
  border-radius: 5px;
  padding: 20px 40px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.mr20 {
  margin-right: 20px;
}

.mb50 {
  margin-bottom: 50px;
}
/* /Classe Utility */

/* Site Header */

/* Nav_top */
.nav_top{
  min-width: 1200px;
  height: 80px;
  line-height: 80px;
  width: 100%;
  background-color: #F4F9FD;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav_top_left{
  width: 30%;
}

.nav_top_left a{
  text-decoration: none;
  color: #32495b;
}

.nav_top_left i{
  color: #32495b;
}

#contact{
  border-left: 2px solid #8A9397;
  padding-left: 20px;
}

.nav_top_right{
  width: 70%;
  text-align: right;
}

 .nav_top_right a{
   text-decoration: none;
 }

 #search{
   color: #00A4BD;
 }
/* /Nav_top */

/* Nav_bottom */

  .nav_bottom{
   margin-top: 80px;
   height: 80px;
   line-height: 80px;
   width: 100%;
 }

/* nav_bottom_left */
 .nav_bottom_left{
   width: 15%;
 }

 .logo{
   vertical-align: middle;
 }
/* /nav_bottom_left */

/* nav_bottom_right */
 .nav_bottom_right{
   width: 85%;
   text-align:right;
 }

 .nav_bottom_right a{
   text-decoration: none;
   color: #32495b;
   margin-right: 10px;
 }

  .nav_bottom_right a:nth-of-type(2){
    text-decoration: none;
    color: #32495b;
    margin-right: 0px;
  }
/* /nav_bottom_right */

/* /Nav_Bottom */

/* /jumbotron */

.jumbotron{
  width: 100%;
  height: 695px;
  background-image: url("../img/jumbotron.png");
  background-color: #FFF4EF;
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
}

.container_jumbotron{
  width: 70%;
  height: 100%;
  margin: auto;
}

.container_title{
  width: 50%;
  padding-top: 60px;
}

.container_title h1{
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 30px;
}

.container_title p{
  line-height: 29px;
  margin-bottom: 30px;
}

.container_title .p_small{
  font-size: 80%;
}

.strip_bottom{
  background-color: #AFEBE4;
  width: 100%;
  height: 83px;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* /Site Header */

/* Site_Main */

/* Main_top */
.main_top_container{
  width: 100%;
  background-color: #F4F9FD;
  min-width: 1200px;
}

.mt_top_containter{
  width: 50%;
  margin: auto;
}

.mt_middle_container{
  width: 70%;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(50, 73, 91, 0.2);
  margin-bottom: 50px;
}

 /* mt.mt_top_container */

.powerful{
  width: 100%;
  padding: 50px 0;
  text-align:center;
}

.powerful img{
  width: 250px;
}

.powerful h2{
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
}

.powerful p{
  line-height: 1.8em;
}
/* /mt.mt_top_container */

/* mt.mt_middle_container */

.info_box{
  padding: 6%;
}

.book{
  width: 25%;
  text-align: center;
}

.book img{
  height: 100px;
  margin-bottom: 20px;
}

.book_text{
  width: 75%;
  padding: 0 5%;
}

.book_text h3:first-child{
  font-size: 24px;
}

.book_text p{
  line-height: 1.5em;
}

.book_text p:nth-of-type(1){
  margin-bottom: 20px;
}

.book_text h3{
  margin-bottom: 30px;
  line-height: 1.5em;
  font-weight: 800;
}

.book_text .line:after {
  content: '';
  display: block;
  float: right;
  width: 65%;
  height: 2px;
  margin-top: 9px;
  background-color: #899397;
}

.book_text i{
  color: #fe785a;
  margin: 0 20px 0 0;
}

.book_text i:nth-child(n+2){
  margin: 0 20px 0 20px;
}
/* /mt.mt_middle_container */

/* mt.mt_bottom_container */
.mt_bottom_container{
  width: 70%;
  margin: auto;
  padding-bottom: 50px;
}

#mt_bottom_center{
  margin:0 5%;
}

.mt_bottom_box{
  width: 30%;
  background-color: white;
  box-shadow: 0 0 5px rgba(50, 73, 91, 0.2);
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

.mt_bottom_box .line:after{
  content: '';
  display: block;
  float: right;
  width: 100%;
  height: 2px;
  margin-top: 30px;
  background-color: #899397;
  margin-bottom: 30px;
}

.mt_bottom_box #more_line:after{
  margin-top: 58px;
}

.line,#more_line{
  padding:0 5%;
}

.mt_bottom_box img{
  height: 100px;
  margin-bottom: 20px;
}

.mt_bottom_box h3{
  font-size: 24px;
  margin-bottom: 30px;
}

.mt_bottom_box h4{
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 30px;
}

.mt_bottom_box p{
  font-size: 16px;
  line-height: 1.8em;
}

.mt_bottom_box li{
  list-style: none;
  text-align: left;
  padding:0 5%;
}

.mt_bottom_box i{
  color: #fe785a;
  margin: 0 20px 0 0;
}
/* /mt_bottom_container */

/* /Main_top */

/* Middle_top */

.main_middle_container{
  width: 100%;
  background: linear-gradient(45deg, #00a4bd, #00bda5);
  color: white;
  padding: 50px 0;
}

/* learn_grow */
.learn_grow {
  width: 70%;
  margin: auto;
  text-align: center;
}

.learn_grow h2{
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
  line-height: 1.2em;
}

.learn_grow P{
  line-height: 1.8em;
}
/* /learn_grow */

/* learn_table */
.learn_table{
  padding: 50px 0;
}

.learn_table_row{
  width: 70%;
  margin: auto;
  text-align: center;
}

.table_item{
  width: 25%;
  padding: 20px;;
}

.learn_table_row:not(:last-child){
  border-bottom: 1px solid white;
}

.table_item:not(:last-child){
  border-right: 1px solid white;
}

.table_item img{
  margin-bottom: 15px;
}

.table_item h2{
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 15px;
}

.table_item h2::after{
  content: " +";
  font-size: 24px;
  font-weight: 400;
  vertical-align: middle;
}

.table_item p{
  font-size: 13px;
}
/* learn_table */

/* /main_middle_container */

/* main_bottom_container */
.main_bottom_container{
  width: 100%;
  height: 1000px;
  min-width: 1200px;
  padding: 50px 0;
}

/* costumers */
.costumers{
  width: 60%;
  margin: auto;
  position: relative;
}

.costumers h2{
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 800;
}

.costumers p{
  line-height: 1.8em;
}

.costumers ul{
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
}

.costumers li{
  list-style: none;
  display: inline-block;
  width: 24%;
  padding: 0 5px;
  margin: 10px 0;
  vertical-align: middle;
}

.costumers li img{
  width: 100%;
}
/* /costumers */
